<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Empresa> Gestión de Terminales</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="background">

  <ion-grid>
    <ion-row *ngFor="let terminal of llistatTerminals">
      <ion-col>
        <ion-card color="light" *ngIf="terminal.active" [style.border-color]="'green'" style="border: solid; border-width: 10px;">
          <ion-card-header>
            <ion-card-title>
              {{terminal.name}}
            </ion-card-title>
            <ion-card-subtitle>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-button routerLink="/terminals/terminal-details/{{terminal.company_id}}/{{terminal.id}}" fill="clear">Editar</ion-button>
        </ion-card>

        <ion-card color="light" *ngIf="!terminal.active" [style.border-color]="'red'" style="border: solid; border-width: 10px;">
          <ion-card-header>
            <ion-card-title>
              {{terminal.name}}
            </ion-card-title>
            <ion-card-subtitle>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-button routerLink="/terminals/terminal-details/{{terminal.company_id}}/{{terminal.id}}" fill="clear">Editar</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button>
          <ion-icon name="add" (click)="addTerminal()"></ion-icon>
        </ion-fab-button>
      </ion-fab>      
      <ion-fab slot="fixed" vertical="bottom" horizontal="start">
        <ion-fab-button>
          <ion-icon name="arrow-back-outline" (click)="goBack()"></ion-icon>
        </ion-fab-button>
      </ion-fab>      
</ion-content>