<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="campanya">{{campanya.company_id}}/{{campanya.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="campanyaDetailForm">
  <form [formGroup]="campanyaDetailForm" (ngSubmit)="onSubmit()">
   <ion-item> 
     <ion-label position="floating">Nom</ion-label>
     <ion-input clearInput="true" formControlName="CampanyaNom"></ion-input>
    </ion-item>

    <ion-label position="floating">Tarjeta Color</ion-label>
    <!-- <input [className]="'in-color'" [cpOKButton]="true" [cpCancelButton]="true" [cpColorMode]='"color"' [(colorPicker)]="this.campanya.CampanyaTarjetaColor" [style.background]="this.campanya.CampanyaTarjetaColor"/>
  {{this.campanya.CampanyaTarjetaColor}} -->
  <!-- <ion-label [className]="'in-color'" [cpOKButton]="true" [cpCancelButton]="true" [cpColorMode]='"color"' [(colorPicker)]="this.campanya.CampanyaTarjetaColor" [style.background]="this.campanya.CampanyaTarjetaColor"></ion-label>
  {{this.campanya.CampanyaTarjetaColor}} -->
  <ion-icon slot="icon-only" name="color-palette" [className]="'in-color'" [cpOKButton]="true" [cpCancelButton]="true" [cpColorMode]='"color"' [(colorPicker)]="this.campanya.card_color" [style.color]="this.campanya.card_color"></ion-icon>
  {{this.campanya.card_color}}

  <!-- <ion-item> 
    <ion-label position="floating">Tarjeta Color</ion-label>
    <ion-input clearInput="true" formControlName="CampanyaTarjetaColor"></ion-input>
    <ion-note slot="helper">Color</ion-note>
  </ion-item>   -->
  <!-- <ion-item> 
    <ion-label position="floating">Imatge Principal</ion-label>
    <ion-input clearInput="true" formControlName="CampanyaTarjetaImatgePrincipal"></ion-input>
  </ion-item>   -->

  <ion-item>
    <ion-label position="floating">Imatge Principal de la Tarjeta</ion-label>
    <ion-thumbnail slot="end">
      <img *ngIf="campanya.card_main_image" alt="Selecciona una imatge" formControlNmae="CampanyaTarjetaImatgePrincipal" src={{campanya.card_main_image}}/>
    </ion-thumbnail>
    <br><br><br>
    <!-- <ion-img *ngIf="profileEmpresa.logo" width="80" height="40" formControlNmae="EmpresaLogo" src={{profileEmpresa.logo}}></ion-img> -->
    <ion-icon name="cloud-upload-outline" (click)="add_card_main_image()"></ion-icon>
    <ion-icon name="close-circle-outline" (click)="remove_card_main_image()"></ion-icon>
  </ion-item>  

  <ion-item> 
    <ion-label position="floating">Tarjeta: Titul</ion-label>
    <ion-input clearInput="true" formControlName="CampanyaTarjetaTitulo"></ion-input>
    <ion-note slot="error">Tarjeta Titul Obligatori</ion-note>
  </ion-item>  
  <ion-item> 
    <ion-label position="floating">Tarjeta: SubTitul</ion-label>
    <ion-input clearInput="true" formControlName="CampanyaTarjetaSubTitulo"></ion-input>
  </ion-item>    
  <ion-item> 
    <ion-label position="floating">Tarjeta: Nota Inferior</ion-label>
    <ion-input clearInput="true" formControlName="CampanyaTarjetaNotaPie"></ion-input>
  </ion-item>    
  <ion-item>
    <ion-label position="floating">Tarjeta: Logo</ion-label>
    <ion-thumbnail slot="end">
      <img *ngIf="campanya.card_logo" alt="Selecciona una imatge" formControlNmae="CampanyaTarjetaLogo" src={{campanya.card_logo}}/>
    </ion-thumbnail>
    <br><br><br>
    <ion-icon name="cloud-upload-outline" (click)="add_card_logo()"></ion-icon>
    <ion-icon name="close-circle-outline" (click)="remove_card_logo()"></ion-icon>
  </ion-item>  
  <!-- <ion-item> 
    <ion-label position="floating">CampanyaTarjetaLogo</ion-label>
    <ion-input clearInput="true" formControlName="CampanyaTarjetaLogo"></ion-input>
  </ion-item>       -->
  <ion-item> 
    <ion-label position="floating">Tarjeta: Punts</ion-label>
    <ion-input clearInput="true" type="number" formControlName="CampanyaTarjetaPunts"></ion-input>
  </ion-item>  
  <ion-item> 
    <ion-label position="floating">CampanyaDescripcioPublica</ion-label>
    <ion-input clearInput="true" formControlName="CampanyaDescripcioPublica"></ion-input>
  </ion-item>          
  <ion-item> 
    <ion-label position="floating">CampanyaCondicionsLegals</ion-label>
    <ion-input clearInput="true" formControlName="CampanyaCondicionsLegals"></ion-input>
  </ion-item>            
  <ion-item> 
    <ion-label position="floating">Campanya Activa</ion-label>
    <ion-toggle slot="end" formControlName="CampanyaActiva"></ion-toggle>
  </ion-item>
   <ion-button expand="block" type="submit" [disabled]="!campanyaDetailForm.valid">Guarda</ion-button>
</form>
<ion-button expand="block" (click)="goBack()">Cancela</ion-button>

