<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">Entradas cine gratis</ion-row>
    <ion-row class="ion-justify-content-center">      
      <qrcode [qrdata]="'3-4'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </ion-row>
    <br><br><br><br><br><br><br><br>
    <ion-row class="ion-justify-content-center">Chupito gratis</ion-row>
    <ion-row class="ion-justify-content-center">
      <qrcode [qrdata]="'4-3'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </ion-row>
    <br><br><br><br><br><br><br><br>
    <ion-row class="ion-justify-content-center">Café gratis</ion-row>
    <ion-row class="ion-justify-content-center">
      <qrcode [qrdata]="'3-1'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </ion-row>
    <br><br><br><br><br><br><br><br>
    <ion-row class="ion-justify-content-center">Esmorzar gratis</ion-row>
    <ion-row class="ion-justify-content-center">
      <qrcode [qrdata]="'3-2'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </ion-row>
  </ion-grid>
</ion-content>