<ion-content>
  <ion-grid>
    <ion-col>
      <qrcode [qrdata]="'3-2'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </ion-col>
    <ion-col>
      <qrcode [qrdata]="'4-3'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </ion-col>
    <ion-col>
      <qrcode [qrdata]="'3-1'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </ion-col>
    <ion-col>
      <qrcode [qrdata]="'3-4'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </ion-col>
  </ion-grid>
</ion-content>