  <ion-content class="background">
    <!-- chip toolbar     -->
   
  <ion-list-header style="margin-top: 10px;">       
    <ion-chip *ngIf="campaign">
      <ion-icon style='color:white' name="fast-food-outline"></ion-icon>
      <ion-label>{{campaign[0].name}}</ion-label>
      </ion-chip>
    <ion-chip *ngIf="terminal">
      <ion-icon style='color:white'  name="calculator-outline"></ion-icon>
      <ion-label>{{terminal.name|titlecase}}</ion-label>
    </ion-chip>
  </ion-list-header>
  <ion-searchbar [debounce]="1000" (ionChange)="handleChange($event)"></ion-searchbar>
  <ion-list class="ion-list1" lines="none" *ngFor="let item of filter_users; index as i">
        <ion-item class="ion-item1" button detail="true"(click)="presentActionSheet(item)"  detail-icon="ellipsis-vertical-outline"> 
          {{ item.name| titlecase }}
        </ion-item>        
  </ion-list>  
</ion-content>
