<ion-content *ngIf="mobileweb===false; else camera" > 
  <ion-button expand="full" (click)="startScanner()" [hidden]="scanActive">
    SCAN
  </ion-button>
  <ion-row class="scan-button" [hidden]="!scanActive">
    <ion-col class="ion-no-padding">
      <ion-button expand="full" (click)="stopScanner()">Stop</ion-button>
    </ion-col>
  </ion-row>
  <div class="scan-box" [hidden]="!scanActive"></div>
  <ion-button expand="full" [routerLink]="['/campaigns', this.company_id, this.terminal_id]" [hidden]="scanActive">
    return
  </ion-button>
</ion-content>
<ng-template #camera>
  <p style="color:red; margin-top:80%; margin-left:10%;">No camera on web display, only on mobile</p>
  <!-- usuario de prueba para trabajar en web -->
  <ion-button style="margin-top:auto" (click)="sumaPuntos('fcdb02c9-c57e-446d-8cb8-20259259b98e')">Prueba QR</ion-button>
  <ion-button expand="full" [routerLink]="['/campaigns', this.company_id, this.terminal_id]" [hidden]="scanActive">Campañas</ion-button>
</ng-template>
