<ion-menu side="end" menuId="right-menu-3" contentId="main-content" swipeGesture="false">
  <ion-header>
    <ion-toolbar>
      <ion-title>Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-menu-toggle menu="right-menu-3">
        <ion-item [routerLink]="['/update-user-info']" detail="true" lines="full">
          <ion-label>Change profile</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-item [routerLink]="['/logout']" detail="true" lines="full">
        <ion-label>Logout</ion-label>
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="left-menu"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button menu="right-menu-3">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>Terminal > Campañas</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="background">
  <!-- chip toolbar     -->
 
  <ion-list-header style="margin-top: 10px;">    
    <ion-chip *ngIf="nameCompany">
      <ion-icon style='color:white' name="storefront-outline"></ion-icon>
      <ion-label>{{nameCompany.name}}</ion-label>    
    </ion-chip>    
    <ion-chip *ngIf="nameTerminal">
      <ion-icon style='color:white' name="calculator-outline"></ion-icon>
     <ion-label>{{nameTerminal.name|titlecase}}</ion-label> 
    </ion-chip>

<!-- buscador -->
  </ion-list-header>
  <ion-searchbar [debounce]="1000" (ionChange)="handleChange($event)"></ion-searchbar>  
<!-- cards -->
  <ion-row>
    <ion-col size="12" size-xs="4" *ngFor="let item of campania_filtrados">
     
      <ion-card>
        <button ion-item (click)="showCampaignModal(item)">
          <img style="height:100px;width:150px" src={{item.card_main_image}}>
          <ion-card-content [style.background-color]="item.card_color" style="padding-top:0px"></ion-card-content>
          <div  class="card-title"> {{ item.name| titlecase }}</div>       
        </button> 
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
