.card-title{
    font-size: 10px;
    //font-weight:bold;
    margin-top: 8px;
    margin-bottom: 8px;
}
ion-card{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
   }