<ion-header>
  <ion-toolbar>
    <ion-title>Empresa> Gestión de Campañas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
        <ion-grid [fixed]="true">
          <ion-row *ngFor="let campanya of llistatCampanyes">
            <ion-col>
              <ion-card color="light" *ngIf="campanya.active" [style.border-color]="'green'" style="border: solid; border-width: 10px;">
                <img *ngIf="campanya.card_main_image" src={{campanya.card_main_image}} width="100%" style="text-align: center;">
                <ion-card-header>
                  <ion-card-title>
                    {{ campanya.name | titlecase }}
                  </ion-card-title>
                  <ion-card-subtitle>
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-button routerLink="/qrcode/{{campanya.company_id}}-{{campanya.id}}" fill="clear">Generar QR</ion-button>
                <ion-button routerLink="/campanyes/campanya-details/{{campanya.company_id}}/{{campanya.id}}" fill="clear">Editar</ion-button>
              </ion-card>
              <ion-card color="light" *ngIf="!campanya.active" [style.border-color]="'red'" style="border: solid; border-width: 10px;">
                <img *ngIf="campanya.card_main_image" src={{campanya.card_main_image}} width="200px" style="text-align: center;">
                <ion-card-header>
                  <ion-card-title>
                    {{ campanya.name | titlecase }}
                  </ion-card-title>
                  <ion-card-subtitle>
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-button routerLink="/qrcode/{{campanya.company_id}}-{{campanya.id}}" fill="clear">Generar QR</ion-button>
                <ion-button routerLink="/campanyes/campanya-details/{{campanya.company_id}}/{{campanya.id}}" fill="clear">Editar</ion-button>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button>
          <ion-icon name="add" (click)="addCampanya()"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab slot="fixed" vertical="bottom" horizontal="start">
        <ion-fab-button>
          <ion-icon name="arrow-back-outline" (click)="goBack()"></ion-icon>
        </ion-fab-button>
      </ion-fab>        
</ion-content>
