<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<ion-header>
  <ion-toolbar>
    <ion-title>Actualizar perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-grid>
    <ion-row style="margin-top: 50px;">
      <ion-col></ion-col>
      <ion-col>
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput [formControl]="nameControl" required>
          <mat-error *ngIf="nameControl.hasError('required')">
            El nombre es <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Código postal</mat-label>
          <input matInput [formControl]="zipcodeControl" (input)="searchZipCode($event)" [(ngModel)]="searchedZipCode" required>
          
          <mat-error *ngIf="zipcodeControl.hasError('required')">
            El código postal es <strong>obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="zipcodeControl.hasError('minlength')">
            El código postal debe contener como mínimo<strong>5 caracteres</strong>
          </mat-error>
          <mat-error *ngIf="zipcodeControl.hasError('nozipcode')">
            El código postal <strong>no</strong> existe
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Dirección</mat-label>
          <input matInput [formControl]="addressControl" required>
          <mat-error *ngIf="addressControl.hasError('required')">
            La dirección es<strong>obligatoria</strong>
          </mat-error>
          <mat-error *ngIf="addressControl.hasError('minlength')">
            La dirección debe contener como mínimo <strong>5 caracteres</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Número Teléfono</mat-label>
          <input matInput [formControl]="phoneControl" required>
          <mat-error *ngIf="phoneControl.hasError('required')">
            El número de teléfono es <strong>obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="phoneControl.hasError('minlength')">
            El número de teléfono debe contener como mínimo <strong>9 caracteres</strong>
          </mat-error>
          <mat-error *ngIf="phoneControl.hasError('pattern')">
            El número de teléfono debe contener <strong>solo</strong> numeros
          </mat-error>
        </mat-form-field>
        
        <div style="margin-top: 50px; text-align: center;">
          <button mat-raised-button color="primary" (click)="updateUser()">Actualizar perfil</button>
        </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>