<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="profileEmpresa">empresa {{profileEmpresa.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="empresaForm">
  <form [formGroup]="empresaForm" (ngSubmit)="onSubmit()">
   <ion-item> 
     <ion-label position="floating">Nom</ion-label>
     <ion-input clearInput="true" formControlName="EmpresaNom"></ion-input>
   </ion-item>
   <ion-item> 
    <ion-label position="floating">NIF</ion-label>
    <ion-input clearInput="true" formControlName="EmpresaNIF"></ion-input>
  </ion-item>
  <ion-item> 
    <ion-label position="floating">EMAIL</ion-label>
    <ion-input clearInput="true" formControlName="EmpresaEmail"></ion-input>
    <ion-note slot="error">Email invalid</ion-note>
  </ion-item>  
  <ion-item> 
    <ion-label position="floating">Telèfon</ion-label>
    <ion-input clearInput="true" formControlName="EmpresaTelefon"></ion-input>
  </ion-item>
  <ion-item> 
    <ion-label position="floating">Adreça</ion-label>
    <ion-input clearInput="true" formControlName="EmpresaAdreca"></ion-input>
  </ion-item>  
  <ion-item> 
    <ion-label position="floating">Codi Postal</ion-label>
    <ion-input clearInput="true" formControlName="EmpresaCP" (ionFocus)="onFocus($event)" (ionBlur)=getCP($event)></ion-input>
  </ion-item>    
  <ion-item> 
    <ion-label position="floating">Població</ion-label>
    <ion-input clearInput="true" formControlName="EmpresaPoblacio"></ion-input>
  </ion-item>    
  <ion-item> 
    <ion-label position="floating">Provincia</ion-label>
    <ion-input clearInput="true" formControlName="EmpresaProvincia"></ion-input>
  </ion-item>    
  <ion-item> 
    <ion-label position="floating">Pais</ion-label>
    <ion-input clearInput="true" formControlName="EmpresaPais"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Logo</ion-label>
    <ion-thumbnail slot="end">
      <img *ngIf="profileEmpresa.logo" alt="Selecciona una imatge" formControlNmae="EmpresaLogo" src={{profileEmpresa.logo}}/>
    </ion-thumbnail>
    <br><br><br>
    <!-- <ion-img *ngIf="profileEmpresa.logo" width="80" height="40" formControlNmae="EmpresaLogo" src={{profileEmpresa.logo}}></ion-img> -->
    <ion-icon name="cloud-upload-outline" (click)="addLogo()"></ion-icon>
    <ion-icon name="close-circle-outline" (click)="removeLogo()"></ion-icon>
  </ion-item>
   <ion-button type="submit" [disabled]="!empresaForm.valid">Guarda</ion-button>
</form>

<ion-button (click)="goBack()">Cancela</ion-button>
<!-- <p>Form Status: {{ empresaForm.status }}</p> -->

