<ion-header>
  <!-- <ion-toolbar>
    <ion-title>usercards</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true" class="background">
  
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid [fixed]="true">
    <ion-row *ngFor="let userCard of userCards">
      <ion-col>
        <ion-card [style.border-color]="userCard.campaigns.card_color" style="border: solid; border-width: 10px;">
          <img src={{userCard.campaigns.card_main_image}} width="100%">
          <ion-card-header>
            <ion-row>
              <ion-col>
                <ion-card-title>
                  {{ userCard.campaigns.name| titlecase }}
                </ion-card-title>
              </ion-col>
              <ion-col size="auto">
                <button
                  (click)="basicShare(userCard.campaigns.card_title, userCard.campaigns.description, userCard.campaigns.card_main_image)"
                  style="float: right;"><ion-icon style="font-size:25px; background-color: white;"
                    name="share-outline"></ion-icon></button>
              </ion-col>
            </ion-row>
            <ion-card-subtitle>
              {{ userCard.campaigns.card_title }} |
              {{ userCard.campaigns.card_subtitle }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content style="padding-top:0px">
            {{ userCard.campaigns.description }}
            <div style="margin-top: 10px;">
              Puntos: {{ userCard.card_points_current}} / {{ userCard.card_points }}
            </div>
            <ion-progress-bar [value]="userCard.card_points_current / userCard.card_points"
              style="height: 20px;"></ion-progress-bar>

            <button mat-fab color="accent" extended="true" aria-label="Leave campaign"
              style="float: right; margin-top: 20px; margin-bottom: 15px;" (click)="leaveCampaign(userCard.id)">
              <mat-label>Eliminar campaña</mat-label>
              <mat-icon>delete</mat-icon>
            </button>


          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>