<ion-content class="background">
  <ion-list-header style="margin-top: 10px;">  
    <!-- <ion-chip>
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Estadísticas</ion-label>
      </ion-chip>       -->
    <ion-chip *ngIf="campaign">
      <ion-icon style="background-color: white;" name="fast-food-outline"></ion-icon>
      <ion-label>{{campaign[0].name}}</ion-label>
      </ion-chip>    
  </ion-list-header>

  <!-- transacciones por tiempo  -->
  <h4>Transacciones por día</h4>
  <h5  *ngIf="noData1">No hay datos aún</h5>
  <div class="chart-container" style="position: relative; height:130px; width:300px;margin:0 auto;">
    <canvas *ngIf="!noData1"
        baseChart
        [type]="'line'"
        [data]="lineChartData"  
        [legend]="false">
    </canvas> 
  </div>  
  <!-- transacciones por usuario  -->
  <h4>Participación clientes</h4>
  <h5  *ngIf="noData2">No hay datos aún</h5>
  <div class="chart-container" style="position: relative; height:130px; width:150px;margin:0 auto;">
    <canvas *ngIf="!noData2"
      baseChart
      [type]="'doughnut'"
      [data]="pieChartData"    
      [legend]="false">
    </canvas>
  </div>
  <!-- premios por usuario -->
  <h4>Premios por usuario</h4>
  <h5  *ngIf="noData3">No hay datos aún</h5>
  <div class="chart-container" style="position: relative; height:150px; width:200px;margin:0 auto;">
    <canvas *ngIf="!noData3"
      baseChart
      [type]="'bar'"
      [data]="barChartData"           
      [legend]="false">
    </canvas>
  </div>   
</ion-content>
<ion-footer> 
   <ion-toolbar color="primary">
    <ion-row class="ion-justify-content-center">
    <ion-buttons>
      <ion-button (click)="volver()">Campañas</ion-button>
    </ion-buttons>
    </ion-row>
  </ion-toolbar>
</ion-footer>
    


