<ion-menu side="end" menuId="right-menu" contentId="main-content" swipeGesture="false">
  <ion-header>
    <ion-toolbar>
      <ion-title>Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-menu-toggle menu="right-menu">
        <ion-item [routerLink]="['/update-user-info']" detail="true" lines="full">
          <ion-label>Change profile</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-item [routerLink]="['/logout']" detail="true" lines="full">
        <ion-label>Logout</ion-label>
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="left-menu"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button menu="right-menu">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>Terminal</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list-header>  
    <ion-chip>
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Estadísticas</ion-label>
      </ion-chip>      
    <ion-chip *ngIf="campaign">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>{{campaign[0].name}}</ion-label>
      </ion-chip>    
  </ion-list-header>

  <!-- transacciones por tiempo  -->
  <h4>Transacciones por día</h4>
  <h5  *ngIf="noData1">No hay datos aún</h5>
  <div class="chart-container" style="position: relative; height:130px; width:300px;margin:0 auto;">
    <canvas *ngIf="!noData1"
        baseChart
        [type]="'line'"
        [data]="lineChartData"  
        [legend]="false">
    </canvas> 
  </div>  
  <!-- transacciones por usuario  -->
  <h4>Participación clientes</h4>
  <h5  *ngIf="noData2">No hay datos aún</h5>
  <div class="chart-container" style="position: relative; height:130px; width:150px;margin:0 auto;">
    <canvas *ngIf="!noData2"
      baseChart
      [type]="'doughnut'"
      [data]="pieChartData"    
      [legend]="false">
    </canvas>
  </div>
  <!-- premios por usuario -->
  <h4>Premios por usuario</h4>
  <h5  *ngIf="noData3">No hay datos aún</h5>
  <div class="chart-container" style="position: relative; height:150px; width:200px;margin:0 auto;">
    <canvas *ngIf="!noData3"
      baseChart
      [type]="'bar'"
      [data]="barChartData"           
      [legend]="false">
    </canvas>
  </div>   
</ion-content>
<ion-footer> 
   <ion-toolbar color="primary">
    <ion-row class="ion-justify-content-center">
    <ion-buttons>
      <ion-button (click)="volver()">Campañas</ion-button>
    </ion-buttons>
    </ion-row>
  </ion-toolbar>
</ion-footer>
    


