<!-- card con los datos de la campaña elegida -->
<ion-content>
  <ion-card>
    <img alt="" src={{currentCampaign.card_main_image}} />
    <ion-card-content [style.background-color]="currentCampaign.card_color" style="padding-top:0px"></ion-card-content>
    <ion-card-header>
      <ion-row>
        <ion-card-title>{{currentCampaign.card_title}}          
        <button class="statsButton" (click)="stats()"><ion-icon style="font-size:20px;" name="stats-chart-outline"></ion-icon></button>
      </ion-card-title>
      </ion-row>
   
      <ion-card-subtitle>{{currentCampaign.card_subtitle}}</ion-card-subtitle>
      <hr>
      <ion-row>
        <ion-col size="6">         
            <ion-item lines="none"> 
             <ion-label position="floating">Escriba puntos</ion-label>
              <ion-input type="number"  [(ngModel)]="points"></ion-input>  
            </ion-item>         
        </ion-col> 
        <ion-col  size="3">
          <div  class="ion-text-center">
            <button (click)="qr()" [disabled] = "points===0 || !points" >
              <ion-icon name="qr-code-outline"></ion-icon>
              <!-- QR -->
            </button>
          </div>         
        </ion-col>
        <ion-col size="3">
          <div class="ion-text-center">
          <button (click)="manual()" [disabled] = "points===0 || !points">
            <ion-icon name="pencil-outline"></ion-icon>
            <!-- Manual -->
          </button>
        </div>
        </ion-col>        
      </ion-row>
    </ion-card-header>    
    <ion-card-content>
      {{currentCampaign.description}}       
    </ion-card-content>  
  </ion-card>
</ion-content>