<ion-header>
</ion-header>

<ion-content class="background" id="contentUserQR">
  <ion-grid>
    <ion-row style="margin-top: 25px;">
      <ion-col></ion-col>
      <ion-col>
        <qrcode [qrdata]="this.QRCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content id="contentUserReadQR" *ngIf="mobileweb===false">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button expand="full" (click)="startScanner()" [hidden]="scanActive">
          Añadir campaña
        </ion-button>
        <div style="margin-top: 240px;
        float: left;
        bottom: 0px;
        width: 100%;
        height: 50px;
        z-index: 11;" [hidden]="!scanActive">
          <ion-button expand="full" (click)="stopScanner()" style="margin-top: 60px;">Cancelar</ion-button>
        </div>
        <div class="scan-box" [hidden]="!scanActive"></div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>