/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

// alineacion botones alarma
.alert-button-group {
  flex-direction: row !important;
}

.card-alert {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.item-alert {
  height: 30px;
  background-color: #4786ef;
}

.scan-box {
  border: 2px solid #fff;
  box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
  content: "";
  display: block;
  left: 50%;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.scan-button {
  margin: 0px;
  position: absolute;
  bottom: 100px;
  width: 100vw;
  height: 50px;
  z-index: 11;
}

body.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
}

.alertCustomerClass .action-sheet-title {
  background-color: #4786ef;
  color:white;

}

.alertCustomerClass .action-sheet-cancel{
  color:red;
}
.alertCustomerClass .alertButtonCustomerClass {
  color:green;  
}

.prize-alert, .userNoCampaignAlert {
  --background: #4786ef;
}
.prize-alert .alert-button{
  color:white;
}

.prize-alert {
  .alert-wrapper {
    .alert-head {
        // header styling here eg. background
        h2 {
            // header text styling here eg. color, font size
            color:white;
        }       
    }    
  }
}

.prize-alert {
  .alert-message {
    .item-alert.item-alert::part(native) {     
    background-color: #4786ef;
    color: white;
      
    }
  }
}

.userNoCampaignAlert{
  .alert-wrapper {
    .alert-head {        
        h2 {           
            color:white;
        }            
    } 
    .alert-message{
      color:white;
    }     
  }

}

.userNoCampaignAlert .alert-button{
  color:white;
}
